spring:
  r2dbc:
    url: ${SPRING_R2DBC_URL}
    username: ${SPRING_R2DBC_USERNAME}
    password: ${SPRING_R2DBC_PASSWORD}
    pool:
      enabled: true
      initial-size: 5
      max-size: 10
      max-idle-time: 30m

aws:
  s3:
    region: ${AWS_S3_REGION}
    access-key: ${AWS_S3_ACCESS_KEY}
    secret-key: ${AWS_S3_SECRET_KEY}
    bucket-name: ${AWS_S3_BUCKET}

jwt:
  secret: ${JWT_SECRET}
  expiration:
    ms: ${JWT_EXPIRATION_MS}
